@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn-orange{
        @apply items-center px-6 py-3 tracking-wide text-lg   rounded-lg  bg-stone-200/75 text-black font-extrabold focus:text-white focus:bg-[#FFA12A]
    }
}

@layer components{
    .orange{
         @apply  bg-[#FEB12A]  
        }
}
@layer components{
    .nav-orange{
         @apply  bg-[#FFB12A]  
        }
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}



ul,li,button{
    text-decoration: none !important;
    list-style-type: none !important;
    /* color: inherit !important; */
}

.card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  #search{
    width: 445px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(180, 180, 180, 0.25);
  }
  #teplodom{
    font-family: Oxanium;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.3px;
  background: var(--logo, linear-gradient(180deg, #FFA509 0.03%, #F66C4F 66.17%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  #footerbg{
    background: #2D2B45;
  }
  #tep{
    color: #FFF;
  font-family: Oxanium;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.3px;
  }
  #loc{
    color: #FFF;
  font-weight: 500;
  }
  #about{
    color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 135% */
  }
  #about-items{
    color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  }
  #copy{
    color: #FFF;
    
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 77px;
  align-items: center;
  }
  .card-box{
    width: 255px !important;
  height: 401px !important;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  object-fit: cover;
  box-shadow: 0px 2px 2px 0px rgba(237, 237, 237, 0.25);
  }
  .imgs{
  object-fit: cover;
  width: 300px;
  }
  .card-title{
    color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .card-price{
    color: #000;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  #imgs{
    width: 149px;
    height: 149px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
 ul,li,button,a{
    text-decoration: none !important;
    list-style-type: none !important;
 }
 .modall-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .modall {
    padding: 30px;
    max-width: 480px;
    margin: 200px auto;
    background: #fff;
    border-radius: 10px;
  }
  
  .modall h2 {
    border-bottom: 2px solid #444;
    padding-bottom:25px
  }

  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    /* cursor: move;
    cursor: -webkit-grab;
    cursor: grab; */
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: #333;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  
  .flickity-prev-next-button.previous {
    left: 10px;
  }
  .flickity-prev-next-button.next {
    right: 10px;
  }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    /* ligropkaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 40px;
    height: 8px;
    border-radius: 10px;
    margin: 0 8px;
    background: #d4d2d2;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }
  .sidebar {
    animation: slide-sidebar 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-sidebar {
    0% {
      transform: translateX(-325px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  